@tailwind base;
@tailwind components;
@tailwind utilities;

/* import fonts */
@font-face {
    font-family: 'ArchivoBlack';
    src: url('/fonts/ARCHIVOBLACK-REGULAR.TTF') format('truetype');
    font-weight: bold;
    font-style: normal; 
}

@font-face {
    font-family: 'Archivo';
    src: url('/fonts/ARCHIVO-VARIABLEFONT_WDTH\,WGHT.TTF') format('truetype');
    font-weight: normal;
    font-style: normal; 
}



body{
    margin: 0;
    overflow: hidden;
    cursor: none;
}

